@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth !important;
}
body {
  scroll-behavior: smooth !important;
}

.asterisk {
  vertical-align: sub;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eff1f3;
}

::-webkit-scrollbar-thumb{
  background: #8fb4dc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
  background: #7d9dc0;
}